# Windows image file caches
Thumbs.db
ehthumbs.db
# not yet used
net/flash_line/_api/drag/*
net/flash_line/_api/io/*
net/flash_line/_api/math/*
net/flash_line/_api/readme.txt
net/flash_line/_compo/*
#batch
*.bat
